{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Question</h3>

<div>
    <form method="post" action="">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    
      <input type="submit" value="Submit">
    </form>
  </div>

{% endblock %}