{% extends "base.html" %}
{% block content %}

<form method="post" action="{{ url_for('login') }}">
    <div class="container">
      <h1>Login</h1>
      <hr>
  
      <label for="username"><b>Username</b></label>
      <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="Enter Username" required>
  
      <label for="password"><b>Password</b></label>
      <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="Enter Password" required>

      <p>By logging in you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn">Login</button>
    </div>
    
    <div class="container signin">
      <p>Need an account? <a href="{{ url_for('register') }}">Register</a>.</p>
    </div>
  </form>

{% endblock %}